@import "../permission-board/src/main-style";

.pop-up{
  display: flex;
  flex-direction: column;

  h1{
    color: $green;
    font-size: 24px;
    font-weight: 900;
    font-family: Lato;
    margin: auto;
  }
.check-in{
  margin-left: 20px;
  display: flex;
}
  .x{
    margin-left: 50px;
    color: red;
    font-size: 18px;
    font-weight: 900;
    margin-top: 10px;
  }
  .check-out{
    margin-top: 50px;
    margin-left: 20px;
  }
  .y{
    margin-left: 150px;
    color: red;
    font-size: 18px;
    font-weight: 900;
    margin-top: -30px;
  }
}
